
<H1> <%= @restaurant.name %></H1>

<ul class="list-group">
    <li class="list-group-item">Location : <%= @restaurant.address %></li>
    <li class="list-group-item">Category : <%= @restaurant.category %></li>
</ul>

<%= link_to 'Back', restaurants_path, class:"btn btn-danger" %>
<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant), class:"btn btn-primary" %>



<p>list with iteration</p>
<ul class="list-group d-flex align-content-between flex-wrap">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item border">Comment: "<%= review.content %>" Rating: <%= review.rating %></li>
  <% end %>
</ul>


